

body, html {
    margin: 0;
    padding: 0;
}

#homepage {
    position: relative;
    background-image: url('background3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    position: relative;
    top: 0;
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    right: 0;
    border-bottom: solid 1px white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar li {
    margin: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.maintext {
    font-family: 'Bodoni Moda SC';
    font-weight: 200;
    font-size: 240px;
    position: relative;
    top: 15%;
    left: 2%;
    color: white;
    margin: 0;
    padding: 0;
}

.bottom-text {
    position: relative;
    color: white;
    top: 29%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    height: 50px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-top: solid 1px white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}    

#mission-statement {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.title {
    font-size: 40px;
    margin-left: 10%;
    margin-top: 15%;
}

.our-mission {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 22px;
    align-items: center;
    text-align: center;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#about-us {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#donate {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#contact-us {
    position: relative;
    height: 100vh;
    width: 100vw;
}